%body
  = partial "partials/header"
  %main{:role => "main"}
    = banner "/images/about_us/top_banner.png", t('about_fashion_checker')
    = section :white do
      .middle-text
        %h3
          = t('about_the_project')
        .lead
          = t('a_living_wage_for_garment_workers')
        %p
          = t('brands_in_the_fashion_industry_put_millions')



    = section :red do
      .text-center.middle-text
        .display-4.yellow
          = t('what_do_we_want')
        .display-4.pink
          = t('what_can_you_do')
        .lead.mt-4.text-white
          .strong
            = t('we_re_demanding_that_brands_do')
          = t('we_want_them_to_show_how_they_are_working')

    .top-extender.red-bg
      &nbsp;

    .navy-bg.skew-right
      .container-fluid.skew-left
        .container.py-5
          .py-5


            .p-4.my-3.yellow-bg
              .row
                .col-sm-6
                  .display-3.red
                    = t('a_living_wage')
                  .display-3.fuchsia
                    = t('for_all_workers')
                .col-sm-6.black
                  %p
                    = t('living_wages_info')
                  %a.btn.btn-primary.navy-btn{href: "take_action.html"}
                    = t('take_action')

            .p-4.my-3.red-bg
              .row
                .col-sm-6
                  .display-3.yellow
                    = t('a_spotlight')
                  .display-3.white
                    = t('on_the_bottom_of_the_supply_chain')
                .col-sm-6.white
                  %p.my-3
                    = t('knowing_where_your_clothes_are_made')

                  %a.btn.btn-primary.navy-btn{href: "https://cleanclothes.org/unclear_supply_chains"}
                    = t('find_out_more')


    .bottom-extender.navy-bg

    = section "high-z red" do
      .middle-text.text-center.white
        %h3
          = t('donate_to_the_campaign')

        .py-3
          .py-2
            = t('you_can_help_fund_this_campaign')
          .py-2
            = t('every_little_bit_helps')


          = donate_button "MELX7VJAD7S5Q", "donate-fc-black.png"

    = partial "partials/shared/footer"